<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FamBudg.Properties.Settings.fambudgetConnectionString"
            connectionString="server=localhost;user id=admin;password=123123;persistsecurityinfo=True;database=fambudget"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>